*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* #region utilities */
:root{
    --db-accent: #0061ff;
    --db-primary: #b5d0e6;
    --db-secondary: #61082b;
    --db-background-member: #f5f4f4;
    --db-text-font: 'Open Sans', sans-serif;
    --db-text-size: .875rem;
    --db-title-font: 'Open Sans Extrabold', sans-serif;
    --db-title-size: 3.75rem;
    --db-section-title-font: 'Open Sans', sans-serif;
    --db-section-title-weight: bold;
    --db-section-title-size: 2rem;
    --db-subtitle-font: 'Open Sans', sans-serif;
    --db-subtitle-weight: bold;
    --db-subtitle-size: 1.25rem;
    --db-accent-text-font: 'Open Sans', sans-serif;
    --db-accent-text-weight: bold;
    --db-accent-text-size: .75rem;
    --db-description-font: 'Open Sans', sans-serif;
    --db-description-size: .75rem;
    --db-description-color: #5e5e5e;
    --db-member-1: #a3d39a;
    --db-member-2: #60082a;
    --db-member-3: #0193cf;
    --db-member-4: #ff1d1d;
    --db-member-5: #d5001f;
    --db-member-6: #b5d1e7;
    --db-member-7: #0d2580;
    --db-member-8: #ffd931;
}

header{
    height: 65px;
    padding: 0 0.5rem;
}

nav{
    justify-content: space-between;
}

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

a{
    text-decoration: none;
    color: black;
    font-family: var(--db-text-font);
    font-size: var(--db-text-size);
}

.btn{
    background-color: var(--db-accent);
    color: white;
    padding: 0.5rem 0.75rem;
}

.btn-outline{
    border: 1px solid black;
    padding: 0.5rem 0.75rem;
}

.btn-s{
    padding: 0.25rem 0.75rem;
}

.btn-central{
    text-align: center;
    width: 100%;
    background-color: var(--db-accent);
    color: white;
    padding: 0.5rem 0;
    margin-bottom: 2rem;
}

.container-lg{
    width: 67%;
    margin: auto;
    height: 570px;
}

.container-s{
    width: 57%;
    margin: auto;
}

h1{
    font-family: var(--db-title-font);
    font-size: var(--db-title-size);
    padding-top: 3rem;
    margin-bottom: 2rem;
}

h3{
    font-family: var(--db-section-title-font);
    font-size: var(--db-section-title-size);
    font-weight: var(--db-section-title-weight);
    margin-bottom: 2rem;
}

h5{
    font-family: var(--db-subtitle-font);
    font-size: var(--db-subtitle-size);
    font-weight: var(--db-subtitle-weight);
}

.accent-text{
    font-family: var(--db-accent-text-font);
    font-size: var(--db-accent-text-size);
    font-weight: var(--db-accent-text-weight);
    margin-top: 1rem;
}

.description{
    font-family: var(--db-description-font);
    font-size: var(--db-description-size);
    color: var(--db-description-color);
    margin-top: 1rem;
}

section{
    margin-top: 5rem;
}

.col-4{
    width: calc(100% / 12 * 4);
}

.col-8{
    width: calc(100% / 12 * 8);
}

p, li, span, label{
    font-family: var(--db-text-font);
    font-size: var(--db-text-size);
}

label{
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.default-link{
    color: #0000EE;
    text-decoration: underline;
}

.relative{
    position: relative;
}

svg{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);
}
/* #endregion utilities */

/* #region header */
nav>div{
    line-height: 65px;
}

nav img{
    width: 100px;
    vertical-align: middle;
}

nav a{
    margin: 0 0.5rem;
}
/* #endregion header */

/* #region main */
.jumbotron{
    background-color: var(--db-primary);
}

.jumbotron img{
    width: 100%;
}

.jumbotron p{
    margin: 2rem 0;
}

.jumbotron p:first-of-type{
    margin-top: 0;
}

.jumbotron p:last-of-type{
    margin-bottom: 3rem;
}

.jumbotron i{
    font-size: 2.5rem;
}

.radio{
    margin-bottom: 2rem;
}

.plans{
    gap: 2rem;
}

.card{
    border: 2px solid rgb(209, 209, 209);
    margin-bottom: 2rem;
}

.card i{
    font-size: var(--db-text-size);
}

.card-title{
    text-align: center;
    border-bottom: 2px solid rgb(209, 209, 209);
    padding: 0.5rem 0;
}

.card-description{
    padding: 1.5rem;
}

.fa-ul{
    --fa-li-margin: 1.5rem;
    margin: 2rem 0;
 }

 .fa-ul > li{
    margin: 1rem 0;
 }

 .card-line{
    margin: 2rem 0;
    border: 0;
    border-top: 2px solid rgb(209, 209, 209);
    width: 50px;
}

.fa-check{
    color: var(--db-accent);
}

.col-xl{
    gap: 10rem;
}

.col-xl p{
    margin-top: 3rem;
}

.partner{
    margin: 10rem 0;
}

.partner > img{
    width: 60%;
}

.partner>div{
    padding: 3rem;
}

.partner p{
    margin: 1rem 0 2rem 0;
}

.operation{
    gap: 4rem;
    margin-top: 3rem;
    margin-bottom: 10rem;
}

.operation  img{
    width: 100%;
}

.operation h5{
    margin: 1rem 0;
}

.members-section{
    margin-top: 7rem;
}

.member-logo{
    width: 50%;
    aspect-ratio: 1;
}

.m1{
    background-color: var(--db-member-1);
}

.m2{
    background-color: var(--db-member-2);
}

.m3{
    background-color: var(--db-member-3);
}

.m4{
    background-color: var(--db-member-4);
}

.m5{
    background-color: var(--db-member-5);
}

.m6{
    background-color: var(--db-member-6);
}

.m7{
    background-color: var(--db-member-7);
}

.m8{
    background-color: var(--db-member-8);
}