*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* #region utilities */
:root{
    --db-accent: #0061ff;
    --db-primary: #b5d0e6;
    --db-secondary: #61082b;
    --db-background-designit: #f5f4f4;
    --db-text-font: 'Open Sans', sans-serif;
    --db-text-size: .875rem;
    --db-title-font: 'Open Sans Extrabold', sans-serif;
    --db-title-size: 3.75rem;
    --db-section-title-font: 'Open Sans', sans-serif;
    --db-section-title-weight: bold;
    --db-section-title-size: 2rem;
    --db-subtitle-font: 'Open Sans', sans-serif;
    --db-subtitle-weight: bold;
    --db-subtitle-size: 1.25rem;
    --db-accent-text-font: 'Open Sans', sans-serif;
    --db-accent-text-weight: bold;
    --db-accent-text-size: .75rem;
    --db-description-font: 'Open Sans', sans-serif;
    --db-description-size: .75rem;
    --db-description-color: #5e5e5e;
}

header{
    height: 65px;
    padding: 0 0.5rem;
}

nav{
    justify-content: space-between;
}

.flex{
    display: flex;
}

a{
    text-decoration: none;
    color: black;
    font-family: var(--db-text-font);
    font-size: var(--db-text-size);
}

.btn{
    background-color: var(--db-accent);
    color: white;
    padding: 0.5rem 0.75rem;
}

.btn-s{
    padding: 0.25rem 0.75rem;
}

.btn-central{
    text-align: center;
    width: 100%;
    background-color: var(--db-accent);
    color: white;
    padding: 0.5rem 0;
    margin: 2rem 0;
}

.container-lg{
    width: 67%;
    margin: auto;
    height: 570px;
}

.container-s{
    width: 57%;
    margin: auto;
}

h1{
    font-family: var(--db-title-font);
    font-size: var(--db-title-size);
    padding-top: 3rem;
    margin-bottom: 2rem;
}

h3{
    font-family: var(--db-section-title-font);
    font-size: var(--db-section-title-size);
    font-weight: var(--db-section-title-weight);
    margin-bottom: 2rem;
}

h5{
    font-family: var(--db-subtitle-font);
    font-size: var(--db-subtitle-size);
    font-weight: var(--db-subtitle-weight);
}

.accent-text{
    font-family: var(--db-accent-text-font);
    font-size: var(--db-accent-text-size);
    font-weight: var(--db-accent-text-weight);
}

.description{
    font-family: var(--db-description-font);
    font-size: var(--db-description-size);
    color: var(--db-description-color);
}

section{
    margin-top: 5rem;
}

.col-4{
    width: calc(100% / 12 * 4);
}

.col-8{
    width: calc(100% / 12 * 8);
}

p, li, span, label{
    font-family: var(--db-text-font);
    font-size: var(--db-text-size);
}

label{
    margin-right: 2rem;
}

.default-link{
    color: #0000EE;
    text-decoration: underline;
}
/* #endregion utilities */

/* #region header */
nav>div{
    line-height: 65px;
}

nav img{
    width: 100px;
    vertical-align: middle;
}

nav a{
    margin: 0 0.5rem;
}
/* #endregion header */

/* #region main */
.jumbotron{
    background-color: var(--db-primary);
}

.jumbotron img{
    width: 100%;
}

.jumbotron p{
    margin: 2rem 0;
}

.jumbotron p:first-of-type{
    margin-top: 0;
}

.jumbotron p:last-of-type{
    margin-bottom: 3rem;
}

.jumbotron i{
    font-size: 2.5rem;
}

.radio{
    margin-bottom: 2rem;
}

.plans{
    gap: 2rem;
}

.card{
    border: 2px solid rgb(209, 209, 209);
}

.card i{
    font-size: var(--db-text-size);
}

.card-title{
    text-align: center;
    border-bottom: 2px solid rgb(209, 209, 209);
    padding: 0.5rem 0;
}

.card-description{
    padding: 1.5rem;
}

.card-description > div{
    margin: 0.75rem 0;
}

.fa-ul{
    --fa-li-margin: 1.5rem;
    margin-top: 2rem;
 }

 .fa-ul > li{
    margin: 1rem 0;
 }

 .card-line{
    margin: 2rem 0;
    border: 0;
    border-top: 2px solid rgb(209, 209, 209);
    width: 50px;
}

.fa-check{
    color: var(--db-accent);
}
